/.vs
/src/Integratte.Infra/obj
/src/Integratte.Infra/bin
/src/Integratte.Infra.Testes/bin
/src/Integratte.Infra.Testes/obj
/src/Integratte.Infra.MediatR/bin
/src/Integratte.Infra.MediatR/obj
/src/Integratte.Infra.TestesDeApi/bin
/src/Integratte.Infra.TestesDeApi/obj
/src/Integratte.Infra.WebApi/bin
/src/Integratte.Infra.WebApi/obj
/src/Integratte.Infra.EntityFramework/bin
/src/Integratte.Infra.EntityFramework/obj
/src/Integratte.Infra.Cache/bin
/src/Integratte.Infra.Cache/obj
/src/Integratte.Infra.RestSharp/obj
/src/Integratte.Infra.RestSharp/bin
/src/Integratte.JWT/obj
/src/Integratte.JWT/bin
/src/Integratte.Infra.JWT/bin/Debug/net6.0
/src/Integratte.Infra.JWT/obj
