/.vs
/src/Integratte.Infra/obj
/src/Integratte.Infra/bin
/src/Integratte.Infra.Testes/bin
/src/Integratte.Infra.Testes/obj
/src/Integratte.Infra.MediatR/bin
/src/Integratte.Infra.MediatR/obj
/src/Integratte.Infra.TestesDeApi/bin
/src/Integratte.Infra.TestesDeApi/obj
/src/Integratte.Infra.WebApi/bin
/src/Integratte.Infra.WebApi/obj
